*.py[cod]
zuliprc
.pytest_cache/*
cov_html/*
.coverage
.mypy_cache
Pipfile.lock
zulipterminal.egg-info
debug.log
dist/*
build/*
zulip_term.egg-info
zulip-terminal-tracebacks.log
zulip-terminal-API-requests.log
zt_venv/*
zulip-terminal-venv/*

.vscode/*
.DS_Store
