[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[packages]
urwid = "==2.0.1"
zulip = "==0.6.3"
emoji = "==0.5.0"
urwid-readline = "==0.10"
beautifulsoup4 = "==4.6.0"
lxml = "==4.2.3"
mypy_extensions = ">=0.4"

[dev-packages]
pytest = "==3.10.1"
pytest-pep8 = "==1.0.6"
pytest-mock = "==1.7.1"
pytest-cov = "==2.5.1"
zipp = "==1.0.0"  # To support Python 3.5
pudb = "==2017.1.4"
snakeviz = "==0.4.2"
gitlint = "==0.10.0"
isort = "==4.3.21"
