urwid==2.1.0
zulip==0.6.3
pytest==5.3.5
pytest-cov==2.5.1
pytest-mock==1.7.1
flake8==3.7.9
flake8-quotes==3.0.0
flake8-continuation==1.0.5
pudb==2017.1.4
snakeviz==0.4.2
gitlint==0.10.0
mypy==0.770
isort==4.3.21
urwid_readline==0.11
beautifulsoup4==4.6.0
lxml==4.2.3

zipp==1.0.0  # To support Python 3.5
